@keyframes first {
    from{
        top: 0;
        width: 150px;
        height: 150px;
        background-color: red;
        color: white;
        border-radius: 0;
    }
    to{
        top: 200px;
        width: 150px;
        height: 150px;
        background-color: rgb(0, 0, 0);
        color: rgb(108, 221, 17);
        border-radius: 100%;
    }
}
@keyframes pro {
    0%{
        top: 0;
        width: 150px;
        height: 150px;
        background-color: red;
        color: white;
        border-radius: 0;
    }
    25%{
        left: 100px;
        width: 150px;
        height: 150px;
        background-color: rgb(213, 121, 1);
        color: white;
        border-radius: 20px;
    }
    40%{
        top: 100px;
        width: 150px;
        height: 150px;
        background-color: rgb(97, 177, 5);
        color: rgb(17, 10, 10);
        border-radius: 60px;
    }
    70%{
        top: 50px;
        left: 50px;
        width: 150px;
        height: 150px;
        background-color: rgb(5, 128, 177);
        color: rgb(246, 242, 242);
        border-radius: 20px;
    }
    100%{
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        background-color: red;
        color: white;
        border-radius: 0;
    }
}

.simple{
    position: relative;
    top: 200px;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
    border-radius: 0;
    animation-duration: 20s;
    /* animation-name: first; */
    animation-name: pro;
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    /* animation-delay: 10s; */
}
.second{
    animation-delay: 5s;
    animation-direction: reverse;
}
@keyframes move {
    from{
        left: 0;
    }
    to{
        left: 1800px;
    }
}
.type>div{
    width: 95px;
    height: 95px;
    position: relative;
    background-color: orange;
    text-align: center;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-name: move;
}
.linear{
    animation-timing-function: linear;
}
.ease{
    animation-timing-function: ease;
}
.ease-in{
    animation-timing-function: ease;
}
.ease-in{
    animation-timing-function: ease-in;
}
.ease-in-out{
    animation-timing-function: ease-in-out;
}
.ease-out{
    animation-timing-function: ease-out;
}
.one{
    animation-timing-function:cubic-bezier(.35,1.37,.85,-0.35);
}
.next{
        animation-timing-function:cubic-bezier(.85,.15,1,-0.3);
}
